*{
    padding:0;margin:0;
}

body{
    text-align:center;
}

table{
    width:100%;
    height:100%;
    border-collapse:collapse;
}

thead{
    border-top: 1px solid #999;
    border-bottom: 3px solid #777;
}

th{
    padding:20px;
}

tr{
    border-bottom: 1px solid gray;
}

tr:last-child{
    border-bottom: 3px solid #777;
}


td{
    padding:5px;
}